.footer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 130px;
    line-height: 20px;
    text-align: center;
    font-size: 11px;
    padding-top: 35px;
    color: white;
    background-image: url('../assets/fotoFooter.png') !important;
}

#footerText {
    padding: 0px 5px 5px 5px;
    background-color: rgba(0, 0, 0, 0.158);
    width: fit-content;
    border-radius: 10px;
    text-align: center;
}

@media screen and (max-width: 1123px) {
    .footer {
        width: 100%;

    }
}