.footer{
    min-height: 150px;
    line-height: 100px;
    text-align: center;
    font-size: 14px;
    padding-top: 45px;
    border-top: 3px solid black; background: #f5f5f5;
    color: #444;
    
}