

@keyframes ordenarImagenes {
  0% {
    -webkit-transform: translateY(1000px) translateX(1000px) scale(0);
            transform: translateY(1000px) translateX(1000px) scale(0);      
    opacity: 0;
  }
  50%{
    opacity:0
  }
  100% {
    -webkit-transform: translateY(0) translateX(0) scale(1);
            transform: translateY(0) translateX(0) scale(1);        
    opacity: 1;
  }
}




  .filtered {
    opacity: 0;
    transition: opacity 1.5s ease, transform 0.5s ease;
  }
  .image-container{
    overflow: hidden;
  }
 
  .imagenAnimation{
 
    animation: ordenarImagenes 1s ease-out 0s;
 
 
  }

  /* Estilos base para los botones */
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #3498db;
  border-radius: 5px;
  color: #0652f7;

  transition: background-color 0.3s, color 0.3s;
}

/* Estilos cuando el ratón está sobre el botón */
button:hover {
  background-color: #2980b9;
}

/* Estilos cuando el botón está deshabilitado */
button:disabled {
  
  border: 2px solid #bdc3c7;
  background-color: #bdc3c7;
  color: #7f8c8d;
  opacity: 0.5; /* Ajusta este valor según tus preferencias */
}


