

  .filtered {
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .image-container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .image-container.visible {
    opacity: 1;
    transform: translateY(0);
  }