/*logo*/
.logo {
    display: flex;
  }
  .logo span {
    font-weight: bold;
    font-size: 90px;
   
    margin-top: 10px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  .logo h3 {
    font-size: 30px;
    width: 12px;
  
    font-weight: lighter;
  }
  
  /*nav*/
  .container-siderbar {
    margin-left: 0;
  }
  
  .sidebar {
    background-color: rgba(0, 255, 221, 0.238);
    z-index: 1000;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 40px;
    width: 200px;
   
      
  }
  
  nav ul {
    justify-content: center;
    align-items: center;
    padding-inline-start: 0px;
    
  }
  
  li {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
   
    list-style: none;
    margin: 15px;
    margin-top: 44px;
  }
  
  a:link,a:visited{
    color: rgb(8, 93, 121);
    padding: 15px;
    text-decoration: none;
  }
  
  a:hover, .active2  {
    background: rgba(42, 165, 165, 0.238);
    color: rgb(255, 255, 255)!important;
  }
  