@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#imagenPortada{
  padding: 40px;
  height: 292px;
  width: 400px;
}

#titulo{
  display: flex;
  justify-content: space-around; 
  align-items: center; 
  font-family: 'Roboto', sans-serif;
  font-size: 40px;

  
}

.linea-separadora {
  border-top: 4px solid rgb(8, 93, 121); 
  margin: 10px 50px; 
}

.contenedor-flex {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
   
  }
  
  .subcontenedor1 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 20px;
   
    text-align: center;
  }
  .subcontenedor2{
    background-color:  rgb(8, 93, 121);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 20px;
    text-align: center;
  }
  

  