@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100&display=swap");


.box-class-general {
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: black;
  line-height: 1.5;
  text-align: center;
}

#box-id-general {
  display: grid;
  grid-template-columns: 33% 20% 10% 30%;
  padding: 20px;
  margin-left: 5%;

}

#container-general {
  height: fit-content;
}

#box-first-paragraf p>span {

  color: #0475a1;
  font-size: 13px;
}

#box-first-paragraf {
  /* border: 1px solid rgba(0, 0, 0, 0.212);*/
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.096);
  background-color: rgba(245, 245, 220, 0.329);
  display: grid;
  align-items: center;
  height: fit-content;
  font-size: 12px;
  padding: 9%;

}

#box-second-paragraf {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.096);
  background-color: rgba(245, 245, 220, 0.329);
  align-items: center;
  display: grid;
  height: fit-content;
  width: 60%;
  font-size: 12px;
  padding: 9%;
}

#box-icons {
  background-color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0% !important;
  margin: 0 35px 0 0 !important;
  background-image: url(../assets/parallax/fotoParallax03.png);
  background-size: 100%;
  background-repeat: no-repeat;

}

#iconoLinkedin {
  margin-top: 15%;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  margin-bottom: 25%;
}

#iconoGithub {
  height: 100px;
  width: 80px;
  border-radius: 15px;
}

#box-icons a:hover {
  border-radius: 0px;
  background: none;
  padding: 0px;
}

#escrituraAutomatica {
  font-size: 55px;
  font-family: 'Impact', sans-serif;
  color: rgb(8, 93, 121);
  white-space: nowrap;
  overflow: hidden;
  margin-left: 15px;
}

.typed-cursor {
  font-size: 55px;
  color: rgba(0, 0, 0, 0.493);
}

#box-carousel {
  margin-top: -28%;
  grid-column: 1/3;
  margin-bottom: 0%;
}


#box-carousel p {
  font-size: 16px;
  font-weight: 900;
  text-align: left;
  color: rgb(8, 93, 121);
}



#carousel2 img {
  width: 70px;
  height: 70px;
}

.custom-carousel .slick-prev,
.custom-carousel .slick-next {
  display: none !important;
}

#box-image {
  margin: -5px;
}

#imageProfile2 {
  height: 230px;
  width: 200px;
  border-radius: 30px;
}


#title1 {
  display: flex;
  width: 70%;
  justify-content: center;
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: white;
  background-color: rgb(8, 93, 121);
  color: white;
  padding: 10px;
  margin-bottom: -1%;
  border-radius: 0px 15px 15px 0px;
}

#title2,
#title3 {
  display: none;
}

#separator-line1 {
  display: none;
}

#separator-line2 {
  border-top: 4px solid rgb(8, 93, 121);
  margin: 14px 0px 0px 121px;
}



@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

#separator-line3 {
  border-radius: 3px;
  height: 17px;
  width: 100%;
  background: linear-gradient(to right, #000000, rgb(8, 93, 121));
  margin-top: 30px;
  margin-bottom: -15px;
  animation: moveGradient 5s linear infinite;
  background-size: 200% 100%;
}

.container-flex {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 0 35px;
}

.subcontainer-separator {
  background-color: rgb(4, 85, 109);
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 20px;
  text-align: center;
}


#container-logo-Initiation {
  display: none;
}


@media screen and (max-width: 1540px) {
  .box-class-general {
    font-size: 12px;
    margin: 10px;
  }


  #box-id-general {
    grid-template-columns: 30% 25% 10% 30%;
  }

  #separator-line3 {
    margin-top: 5px;
  }

  #imageProfile2 {
    height: 250px;
    width: 200px;
  }

  #box-carousel {
    margin-top: -30%;
    grid-column: 1/3;
    margin-bottom: -25px;
  }



  #carousel2 img {
    width: 58px;
    height: 58px;
  }


}


@media screen and (max-width: 1360px)and (min-width: 500px) {
  #box-carousel {
    display: none;
  }


}


@media screen and (max-width: 1700px) {
  #title1 {
    font-size: 35px;
  }


}



@media screen and (max-width: 1123px) {


  #container-general {
    background-image: url(../assets/parallax/fotoParallax03.png);
    background-size: 100%;
    background-repeat: no-repeat;

  }



  #title1 {
    display: none;
  }

  #container-title {
    display: flex;
    align-items: center;
    font-family: "Kumbh Sans", sans-serif;
    background-color: rgb(8, 93, 121);
    color: white;
    flex-direction: column;
  }

  #title2 {
    display: flex;
    font-weight: 600;
    font-size: 28px;
    background-color: rgb(8, 93, 121);
    padding-top: 10px;

  }

  #title3 {
    margin-top: -2px;
    display: inline-block;
    font-weight: 200;
    font-size: 14px;
    margin-bottom: 4%;

  }

  .container-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 0px 0px !important;
  }



  #separator-line1 {
    display: none;
  }

  #separator-line2 {
    border-top: 8px solid rgb(8, 93, 121);
    margin: 120px 0px 18px 26px !important;
  }

  #box-id-general {
    display: grid;
    grid-template-columns: 100%;
    margin-left: 0%;
  }

  .box-class-general {
    padding: 18px;
  }

  #box-first-paragraf {
    grid-row: 1;
    background-color: azure;
  }

  #box-second-paragraf {
    grid-row: 2;
    background-color: azure;

  }

  #box-image {
    grid-row: 3;
  }

  #box-carousel {
    width: 100%;


  }

  #carousel2 img {
    width: 30px;
    height: 30px;
  }


  #box-first-paragraf,
  #box-second-paragraf {

    font-size: 15px;
    margin-top: 20px;
    width: auto;
  }


  #imageProfile2 {
    height: 323px;
    width: 258px;

  }

  #container-logo-Initiation {
    display: inline;
    position: absolute;
    margin-top: -12%;
    -webkit-text-stroke: 1px rgba(223, 234, 238, 0.527);

  }

  #container-logo-Initiation span {
    font-size: 150px;
    color: rgba(238, 238, 238, 0.836);

    text-shadow: 0 1px 0 #0475a1, 0 2px 0 #0475a1, 0 3px 0 #0475a1, 0 4px 0 #0475a1, 0 5px 0 #0475a1, 0 6px 0 #0475a1, 0 7px 0 #0475a1, 0 8px 0 #0475a1, 0 9px 0 #0475a1, 10px 25px 15px rgb(0, 0, 0);
  }

  .rope {
    margin-left: 50px !important;
  }

  #container-logo-Nav {
    display: none;
  }



}