@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


#tituloServicio{
    background-color:  rgb(8, 93, 121);
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 10px;
    text-align: center;
  }
  
.linea-separadora {
  border-top: 4px solid rgb(8, 93, 121); 
  margin: 10px 50px; 
}

.contenedor-flex {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
   
  }
  
.subcontenedor1 img{
  margin-left: 43%;
  width: 50px;
  height: 50px;
}

 