@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


#tituloServicio {
  background-color: rgb(8, 93, 121);
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  padding: 10px;
  text-align: center;
}
#linea-separadora3 {
  border-top: 17px solid rgb(8, 93, 121);
  width: 100%;
  margin: 10px 50px;
}

.linea-separadora {
  border-top: 4px solid rgb(8, 93, 121);
  margin: 10px 50px;
}

.contenedor-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 35px 0px 35px;
}

.subcontenedorServicios img {
  margin-left: 43%;
  width: 50px;
  height: 50px;

}

.subcontenedorServicios {
  width: 30%;
  font-family: "Kumbh Sans", sans-serif;
  padding: 20px;
  font-size: 13px;
  font-weight: 600;
  color: black;

}
@media screen and (max-width: 1123px) {
  .subcontenedorServicios {
    padding: 8px;
    width: 80%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.212);
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.096); 
    margin-bottom: 25px;
  }
  .subcontenedorServicios img {
    margin-left: 0%;
    width: 50px;
    height: 50px;
  
  }
  .subcontenedorServicios:hover{
    color:white;
    background-color: rgb(4, 85, 109);
  }

  #linea-separadora3 {
    border-top: 17px solid rgb(8, 93, 121);
    width: 136%;
    margin-bottom: 28px;
    margin-left: -36%;
  }
  #contenedorUI{
    margin-left: -31%;
  }
  #contenedorDEV{
    margin-left: -31%;
  }
}